body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#calculator {
    display: flex;
    width: 450px;
    height: 300px;
    flex-wrap: wrap;
    border: 10px solid black;
    justify-content: center;
    align-items: center;
}

#displayContainer{
    border: 2px solid black;
    margin: 10px;
    width: 360px;
    height: 50px;
}
#display {
    display: flex;
    justify-content: center;


}

.buttons {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 185px;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}


.numbers {
    width: 120px;
    height: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;


    
}
#equals {
    width: 120px;
    height: 20px;
}
#clear {
    width: 120px;
    height: 20px;
}