
.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75vh;
    min-height: 500px;
    padding: 10px;
    margin-top: 50px;
}

#calculator {
    display: flex;
    width: 400px;
    height: 561.5px;
    flex-wrap: wrap;
    border: 2px solid black;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    background-color: #aaa;
}

#displayContainer{
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 334px;
    height: 90px;
    background-color: white;
}
#display {
    display: flex;
    justify-content:flex-end;
    padding: 5px;
    font-size: 20px;


}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 340px;
    height: 320px;
    justify-content: center;
    margin: 0px;
    padding: 0px;

}


.numbers {
    width: 80px;
    height: 60px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;


    
}
#equals {
    width: 80px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
#clear {
    width: 165px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #faa;
}

#answer {
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    font-size: 50px;
}
#delete {
    width: 165px;
    height: 60px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #aaf;

}
#erase {

}
.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}